<h2>Electronic Signature and Delivery of Communications and Documents</h2>
<p>
  By agreeing to use electronic signature through Legal Simplicity, you are consenting to
  submit your legally binding signature and receive electronic records and disclosures
  in place of paper forms for any and all documentation related to this transaction.
  Documentation related to this transaction may include, but is not limited to, updates to
  materials provided for your review in our data room, documents that must be signed for
  you to receive funds, shares, or other consideration, and any state or federal tax forms
  that may be provided to you as a result of your participation in this transaction. You are
  further agreeing to receive all communications from Legal Simplicity in electronic form. If
  you do not consent to using electronic signature or receiving only electronic records and
  communications, please DO NOT submit your electronic signature.
</p>
<h2>Hardware and Software Requirements</h2>
<p>In order to access and download documents from your account, you will need the following:
<ul>
  <li>a computer with an internet connection</li>
  <li>
    a web browser (e.g. Internet Explorer version 9.0 or above, Safari version 6.0 or
    above, Chrome version 28 or above, Firefox 17.0.11 or above)
  </li>
  <li>Adobe Acrobat Reader or Adobe Acrobat Pro 8.0 or above</li>
  <li>
    access to the email address under which your Legal Simplicity account is registered
    or the ability to login to your Legal Simplicity account with your email and password
  </li>
</ul>
</p>
<h2>Requesting Paper Copies of Documents or Communications</h2>
<p>
  To request a paper copy of this document or any other documents relating to this
  transaction, please contact <a href="mailto:support@legalsimplicity.co">support@legalsimplicity.co</a> immediately. As signature of this
  documentation is extremely time sensitive, we will need to arrange another method for you
  to submit your documentation as soon as possible. Legal Simplicity is not responsible for
  any loss you may incur as a result of this delay.
</p>
<h2>Updating Your Contact Information</h2>
<p>
  <b>
    It is your responsibility to keep your primary email address up to date so that Legal
    Simplicity can communicate with you electronically.
  </b>
  To update your email address, please login to your account and click on your email in the top right hand corner. Should
  you at a later time wish to receive physical copies of your documentation, you must contact
  <a href="mailto:support@legalsimplicity.co">support@legalsimplicity.co</a> and indicate the address at which you wish to receive any future
  disclosures.
</p>