<!DOCTYPE html>
<html>
<head>
  <title>Signature</title>
  <%= stylesheet_link_tag    "signature/application", :media => "all" %>
  <%= javascript_include_tag "signature/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
